.liGenerado {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
    border-bottom: 1px solid #ccc; 
   
}

.eraserIcon {
    margin-left: 10px; 
    cursor: pointer; 
    color: rgb(235, 13, 13);
}

.liGenerado:hover .eraserIcon {
    color: rgb(226, 201, 57); 
}


.toDoWrapper {
    margin-top: 50px;
  
}

input {
    width: 100vh;
    border-radius: 9px;
    background-color: rgba(15, 15, 9, 0.979);
    padding: 5px;
    margin-top: 30px;
    color: aliceblue;
    height: 45px;
}

.cont {
    border-radius: 12px;
    box-shadow: 0px 5px 5px 0px red;
}

body {
    background:  linear-gradient(to left, rgb(1, 24, 1) 28px, red 50%, rgb(3, 15, 15));
}

.title {
    color: aliceblue;
   margin: 40px;
font-weight: bold;
text-decoration-line: underline;

 
}

.footer {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 24px;
}
